@model RealEstate_Admin.Models.PropertyTypeModel

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h2 style="padding-top: 20px; padding-bottom:10px;">
                        @(Model.PropertyTypeId > 0 ? "Edit Property Type" : "Add Property Type")
                    </h2>

                    <form asp-action="SavePropertyType" asp-controller="PropertyType" method="post">
                        <input type="hidden" asp-for="PropertyTypeId" />

                        <div class="row mb-3">
                            <label asp-for="PropertyType" class="col-sm-2 col-form-label">Property Type</label>
                            <div class="col-sm-10">
                                <input asp-for="PropertyType" class="form-control" />
                                <span asp-validation-for="PropertyType" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a asp-action="PropertyTypeList" asp-controller="PropertyType" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
